In [3]:
print("Hello")
print("World")

Hello
World

In [11]:
# contoh penggunaan indentasi
x = 2
if x == 2:
    print("Sama")
else:
    print("Tidak Sama")
    
# gunakan 4 spasi untuk indentasi, bukan tab

Sama

In [17]:
# penamaan variable
# bisa menggunakan kombinasi upper dan lowecase
# tidak bisa dimulai dengan angkat
# antar kata tidak boleh ada spasi, gunakan underscore
# apabila variable digunakan atau di-assign lebih dari sekali maka nilai yang digunakan adalah nilai terakhir

nama = 'Aldi'
nama_lengkap = 'Aldi Pratama'
a = 'tes variable'
#a = 'tes lagi'
print(nama_lengkap)
print(a)

Aldi Pratama
tes variable

In [19]:
# baris lanjutan

var_one = 1
var_two = 2
def function_tambah(
        var_one,
        var_two):
    print(var_two)

# maksimal panjang baris
print("var_one", var_one)             # > ini merupakan contoh dari indentansi# > ini merupakan contoh dari indentansi, gunakan 4 spasi (bukan tabs) untuk indentasi (rekomendasi) (193 karakter)
print("var_two", var_two)             # > ini contoh indentansi (77 karakter)

var_one 1
var_two 2

In [1]:
gross_wages = 10000
taxable_interest = 500
dividends = 100
qualified_dividends = 10

income = (gross_wages
         + taxable_interest
         + (dividends - qualified_dividends)
         )
print("Income =",income)

Income = 10590

In [13]:
#python menggunakan 10 digit di belakang koma

a = 'variable teks' # str
b = 1,2,3           # tuple
c = 12.3            # float
d = 10000           # int


type (d)

int

In [36]:
# 2 pangkat 5
a =2**5
print(a)                 # integer

# akar kuadrat dari 169
b = 169**0.5
print(b)             # float

# hasil pembagian
c = 17/5 
print(c)                 # float

# hasil pembagian bulat
d = 17//5
print(d)                # integer

# sisa hasil bagi (modulo)
e = 97%3
print(e)                 # integer

type(a), type(b), type(c), type(d), type(e)

32
13.0
3.4
3
1

(int, float, float, int, int)

In [39]:
a = "PYTHON"
b = "python"

a==b, type(a==b)

(False, bool)

In [44]:
# python menggunakan ASCII code untuk komparasi data berupa text

a = "a" # ASCII code 97
b = "A" # ASCII code 65
 
b > a

False

In [46]:
x = 5
x < 10, not x != 5

(True, True)

In [54]:
# penggunaan operator AND dan OR

x = 5
print((x > 3 and x < 2))
print((x > 3 or x < 2))

False
True

In [77]:
# operator text
print("Hello", "World")
print("Hello"+"World")
print("Hello"+" "+"World")
print("Python for 'Data Analytics'")
print('Python for "Data Analytics"')

Hello World
HelloWorld
Hello World
Python for 'Data Analytics'
Python for "Data Analytics"

In [61]:
# operator text
print("umur saya", 25)
print("umur saya", str(25))
print("umur saya "*5)

umur saya 25
umur saya 25
umur saya umur saya umur saya umur saya umur saya

In [74]:
a = " Python | for | Data | Analytics "
a.upper(), a.lower(), a.lstrip(), a.rstrip(), a.split('|'), a.startswith("pyhton"), a.endswith("tics ")

(' PYTHON | FOR | DATA | ANALYTICS ',
 ' python | for | data | analytics ',
 'Python | for | Data | Analytics ',
 ' Python | for | Data | Analytics',
 [' Python ', ' for ', ' Data ', ' Analytics '],
 False,
 True)

In [75]:
a = "Python"
b = "for"
c = "Data Analytics"

print(a,b,c)

Python for Data Analytics

In [87]:
# membuat list dengan tipe data integer
int_list = (1,2,3,4,5,5)
int_list_2 = [1,2,3,4,5,5]
int_list_3 = {1,2,3,4,5,5}
print (int_list)
print(type(int_list)), print(type(int_list_2)), print(type(int_list_3))

(1, 2, 3, 4, 5, 5)
<class 'tuple'>
<class 'list'>
<class 'set'>

(None, None, None)

In [100]:
#int_list_2.append(0)
int_list_2.insert(0, "A")
int_list_2.remove(0)
print(int_list_2)

['A', 'A', 'A', 'A', 'A', 'A', 'A', 1, 2, 3, 4, 5, 5, 0, 0]

In [98]:
int_list_2.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [104]:
a = [1,3,2,4,5,6]
a.sort()
a *3
print(a)

[1, 2, 3, 4, 5, 6]

In [108]:
# tuple
int_tuple = (1,2,3,4,5)
print(int_tuple)
list_int_tuple = list(int_tuple)
print(list_int_tuple)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [113]:
# set
int_set = {1,2,3,4,5}
print(type(int_set))
int_set.remove(1)
int_set

<class 'set'>

{2, 3, 4, 5}

In [117]:
# dictionary
num_of_employee = {'Setjen' : 123, 'DJP' : 456, 'BPPK' : 789}
print(num_of_employee),
print(num_of_employee['Setjen'])

{'Setjen': 123, 'DJP': 456, 'BPPK': 789}
123

In [121]:
# Konversi antar tipe data
print(float(1))
print(int(3.23))
print(float("2.5"))

1.0
3
2.5

In [123]:
#Konversi
print(set([1,2,3,4,5]))
print(list('Aldi'))

{1, 2, 3, 4, 5}
['A', 'l', 'd', 'i']

In [126]:
# input
nama = input("Ketik namamu (lalu tekan Enter): ")
# output
print("Hai, ", nama, "!")
print("Hai, %s!" %nama)

# identifier 
# %s untuk string
# %d untuk integer
# %f untuk float

Hai,  Aldi !
Hai, Aldi!

In [135]:
# identifier 
# %s untuk string
# %d untuk integer
# %f untuk float
# \n untuk new line

# input
nama = input("Siapa namamu: ")
umur = int(input("Umurmu berapa? "))

# output
print("\nUmur %s adalah %d." % (nama, umur))

Umur Aldi adalah 34.

In [136]:
meatPrice = 4.00
meatTax = 0.03 * meatPrice
milkPrice = 2.00
milkTax = 0.03 * milkPrice
print(meatTax + meatPrice + milkTax + meatPrice)

8.18

In [137]:
populationIn2012 = 1000
populationIn2013 = populationIn2012 * 0.1
populationIn2014 = populationIn2013 * 0.1
populationIn2015 = populationIn2014 * 0.1

In [157]:
balance = 600
threshold = 10
if balance < threshold:
    print(balance)
else:
    print(max(10, (2.1/100)*balance))

12.600000000000001

In [ ]:
L = float(str(inputStr)
A = L*L
print(A//100)

In [160]:
input_str = input()
input_str_2 = input()
print(input_str)
print(input_str_2)

avalanche
avalanche

In [166]:
pancakes = input()
pancakes = int(pancakes)
if pancakes > 3:
     print("Yum!")
else:
     print("Still hungry!")

Yum!

In [170]:
x=int(input())
if x == 0:
   print("Zero")
elif x > 0:
   print("Positive")
else:
   print("Negative")
# delete this comment and enter your code here

Zero

In [181]:
age = int(input())
if age >= 18:
    print("You can vote")
elif age < 0:
    print("You are a time traveller")
else :
    print("Too young to vote")

You are a time traveller

In [182]:
name = input()
print(name * 3)

aldialdialdi

In [184]:

name = input()

print((name + "," + " ") * 2 + ("bo-b" + name[1:len(name)]))
print("banana-fana fo-f" + name[1:len(name)])
print("fee-fi-mo-m"  + name[1:len(name)])
print(name + "!")

aldi, aldi, bo-bldi
banana-fana fo-fldi
fee-fi-mo-mldi
aldi!

In [1]:
import math

import pandas as pd